<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <add
     name="SQLServerConnectionString"
     connectionString= "server=sahrms.database.windows.net;database=Patients;uid=sahrmsadmin;pwd=Admin442"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>